﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Todo.AspNet.View.ViewModels.TaskListModel
@{
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/bundle.css" />
        <script src="~/js/bundle.js">

        </script>
    </head>
    <body>
        <script type="text/javascript">
            function toggle(key) {
                window.location.href = "toggle/" + key;
            }
        </script>
        <div class="ui equal width stretched grid">
            <div class="four wide column"></div>
            <div class="seven wide center aligned column">
                <table class="ui single line table">
                    <thead>
                        <tr>
                            <th>Tasks</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in this.Model.Tasks)
                        {
                            <tr>
                                <td>
                                    <div class="ui checkbox" >
                                        <a asp-action="toggle"
                                           asp-route-key="@task.Key.Value"/>
                                        <input type="checkbox" @(task.Finished ? "checked" : "") />
                                        <label>@task.Text</label>
                                    </div>
                                </td>
                                <td class="right aligned">
                                    <a asp-action="remove" asp-route-id="@task.Key.Value">
                                        <i class="red remove icon"></i>
                                    </a>
                                </td>
                            </tr>}
                    </tbody>
                </table>
                <form defaultbutton="SubmitButton" method="post" action="add" class="ui icon field input">
                    <input name="taskText" placeholder="Input new task..." type="text">
                </form>
                <a asp-action="togglefinihsedtasks" class="top attached button">
                    <div class="fluid ui button">@(this.Model.ShowFinished ? "Hide finished tasks" : "Show all tasks")</div>
                </a>
            </div>
            <div class="four wide column"></div>
        </div>
    </body>
</html>
}

